@import "styles/variables";

.services {
  margin-top: 15px;
  @media (min-width: $sm) {
    margin-top: 25px;
  }
  @media (min-width: $lg) {
    margin-bottom: -40px;
    margin-top: 0;
  }
}

.service-item {
  height: 400px;
  background: $white;
  padding: 30px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 0px 100px rgba(27, 32, 35, 0.1));
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(150, 150, 150, 0.15);
  @media (min-width: $xxs) {
    height: 350px;
  }
  @media (min-width: 414px) {
    height: 300px;
  }
  @media (min-width: $xs) {
    height: 250px;
  }
  @media (min-width: $sm) {
    height: 350px;
  }
  @media (min-width: $md) {
    height: 290px;
  }
  @media (min-width: $lg) {
    height: 400px;
  }

  &:before {
    content: '';
    box-shadow: 0 0 50px 50px $white;
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
  }

  ul,
  li {
    color: $black;
  }

  &__header {
    position: relative;
  }

  &__body {
    margin-top: 15px;
    z-index: 2;
    position: relative;
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;
    z-index: 1;
    position: relative;
  }

  .background {
    position: absolute;

    &.top {
      top: 0;
      left: 0;
    }

    &.bottom {
      width: 100%;
      height: 55%;
      bottom: -8px;
      left: 0;
    }
  }
}
