@import "styles/variables";

.privacy {
  margin-top: 50px;
  margin-bottom: 65px;
  @media (min-width: $lg) {
    margin-top: 100px;
    margin-bottom: 115px;
  }

  &__title {
    max-width: 1000px;

    h2 {
      @media (max-width: $xxs - 0.02) {
        font-size: 29px;
      }
    }
  }

  &__content {
    margin-top: 50px;
    @media (min-width: $sm) {
      margin-top: 70px;
    }
    @media (min-width: $lg) {
      margin-top: 100px;
    }
  }

  &__section {
    &:not(:first-child) {
      margin-top: 50px;
      @media (min-width: $sm) {
        margin-top: 70px;
      }
      @media (min-width: $lg) {
        margin-top: 100px;
      }
    }

    h6 {
      margin-bottom: 20px;
      @media (min-width: $sm) {
        margin-bottom: 35px;
      }
      @media (min-width: $lg) {
        margin-bottom: 50px;
      }
    }
  }

  ul {
    li + li {
      margin-top: 10px;
    }

    li span {
      display: block;
    }

    ul {
      margin-top: 10px;
    }
  }

  .list-number {
    margin-top: 10px;
    margin-left: 12px;
    @media (min-width: $sm) {
      margin-top: 20px;
      margin-left: 40px;
    }
  }

  .list-dash {
    margin-left: 5px;
    @media (min-width: $sm) {
      margin-left: 20px;
    }
  }
}
