@import "styles/variables";

.footer {
  background: $black-extra;

  .top {
    border-bottom: 2px solid $dark-gray;
  }

  .bottom {
    margin-top: 20px;
    text-align: center;
    @media (min-width: $sm) {
      margin-top: 35px;
      text-align: end;
    }
  }

  &__company {
    display: flex;
    align-items: center;

    .logo {
      position: relative;
      height: 80px;
      width: 89px;
      @media(min-width: $sm) {
        height: 100px;
        width: 112px;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    @media(min-width: $sm) {
      align-items: flex-end;
    }
    @media(min-width: $lg) {
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    .menu-item {
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
      @media(min-width: $sm) {
        font-size: 18px;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
        @media(min-width: $lg) {
          margin-bottom: 0;
          margin-right: 35px;
        }
      }

      a span {
        position: relative;
        transition: .8s;

        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 2px;
          background: $white;
          margin-top: 5px;
          transition: width .8s;
        }

        &:hover {
          color: $white;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
