@import 'styles/variables';

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}

.swiper {
  .swiper-pagination-bullet {
    background: $dark-gray;
    width: 21px;
    height: 21px;
    opacity: 1;
    margin: 0 8.5px !important;

    &.swiper-pagination-bullet-active {
      background: #555B5F;
    }
  }
}
