@import 'variables';

html,
body {
  font-family: $font-primary;
  background: $black;
  color: $white;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
}

body > div {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

ul, ol {
  list-style: none;
}

//scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $deep-black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $gray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #00000033;
  border-radius: 10px;
  background-color: $deep-black;
}
