@import './fonts/icons/style.css';
@import 'reset';
@import 'variables';
@import 'components/ui/grid/grid';
@import 'components/ui/carousel/swiper';
@import 'components/ui/modal/modal';

.list-style {
  list-style: initial;
  margin-left: 30px;
}

.z-index-1 {
  z-index: 1;
}

//toastify
.Toastify {
  &__toast--default {
    background: $deep-black;
    box-shadow: 0 0 5px #000000a3;

    .Toastify__toast-body {
      color: $white;
    }

    .Toastify__progress-bar--default {
      background: $violet;
    }

    .Toastify__close-button {
      &--light {
        color: $white;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      & > svg {
        height: 21px;
        width: 18px;
      }
    }
  }
}
